.playground {
  position: relative;
  margin: 1rem;
}

.playground.collapsableCode .playgroundCode .playgroundStage .CodeMirror {
  text-align: left;
  font-size: 1rem;
  font-family: "SourceCodePro", monospace !important;
  text-shadow: none;
  height: auto;
}

.playground.collapsableCode .playgroundCode {
  height: 0;
  overflow: hidden;
  display: none;
}

.playground.collapsableCode .playgroundCode.expandedCode {
  height: auto;
  display: block;
}

.playgroundToggleCodeLink {
  display: block;
  cursor: pointer;
  font-size: 0.8rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2rem;
  padding: 5px;
  text-align: center;
}

.playgroundToggleCodeLink:hover {
  color: #aaa;
}

.CodeMirror {
  padding: 10px;
}

.playground.collapsableCode .playgroundPreview {
  padding: 10px;
  overflow: auto;
  height: auto;
  user-select: none;
}

.playgroundError {
  padding: 10px;
  font-size: 12px;
  color: white;
  background: #F2777A;
}
