export function searchUsers(sources) {
  const searchQuery$ = sources.ACTION
    .filter(action => action.type === ActionTypes.SEARCHED_USERS)
    .map(action => action.payload.query)
    .filter(q => !!q)
    .compose(debounce(800))
    .endWhen(sources.ACTION.filter(action =>
      action.type === ActionTypes.CLEARED_SEARCH_RESULTS))
    )

  const searchQueryRequest$ = searchQuery$
    .map(q => ({
      url: `https://api.github.com/search/users?q=${q}`,
      category: 'query'
    }))

  const searchQueryResponse$ = sources.HTTP
    .select('query')
    .flatten()
    .map(res => res.body.items)
    .map(actions.receiveUsers)

  return {
    ACTION: searchQueryResponse$,
    HTTP: searchQueryRequest$
  }
}
